# Private documents
private_doc/

# Environment variables
.env

# Large model files or data
*.log
data/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Distribution / packaging
.Python
_build/
dist/
downloads/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

private_doc/*
.DS_Store
